{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create Account</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex">
    <link rel="icon" type="image/png" sizes="16×16" href="{% static 'assets/images/pages.png' %}" />
    <meta name="author" content="Francis Mugambi">

    <meta name="description" content="">
    
  </head>
<body>
 <link rel="stylesheet" href="{% static 'assets/css/create-account-login.css' %}">
 
<div id="id011" class="modal">
  <form class="modal-content1 animate" action="/saveDetails/" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="imgcontainer">
       <span title="Close Modal"><a style="font-size: 40px; float: right; margin: -20px 10px 0 0; text-decoration: none; font-weight:bold;" href="/">&times;</a></span>
      <img src="{% static 'assets/images/img_avatar2.png' %}" alt="Avatar" class="avatar"><br>
      <span onclick="document.getElementById('id011').style.display='none'" style="width:auto;"><a style="text-decoration: none; color: seagreen;" href="/login">Aready have an account? Login</a></span><br><br>
       <p style="color: red; font-weight: bold;">{{msg}}</p>
    </div>

    <div class="container">
      <!--<label for="text"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" autofocus required >-->

      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="email" autofocus required >

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter a Password" name="password" required>
        
      <label for="password"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat the password" name="rpt_password" required>
        
      <button type="submit">Create Account</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1; border-radius: 20px;">
      <button type="button" class="cancelbtn"><a style="text-decoration:none; color: white;" href="/">Cancel</a></button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

</body>
</html>
